# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
db.sqlite3
/media
/staticfiles
/static/
*.log
/formulario/migrations/*.py
/formulario/migrations/__pycache__/


# Virtual Environment
venv/
env/
ENV/
.env

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
